body {
  font-family: Arial, sans-serif;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
section {
  margin-bottom: 50px;
}

/* Default light mode */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

.navbar.dark-mode {
  background-color: #1f1f1f !important;
}

section.dark-mode {
  background-color: #1e1e1e;
}